*{
    ---tema:#181818;
    ---destaque:#101010;
    ---letras:#FFFFFF;
    ---letras-size: 60px;
}
body{
    background-color: var(---tema);
    font-size: var(---letras-size);
    color: var(---letras);
}
.box{
    display: flex;
    justify-content: center;
}
#initial{
    width: 40%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: var(---destaque);
    padding: 5%;
}
#consequenses{
    text-align: center;
}